<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="gears" type="Gears.GearsSection" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  
  <connectionStrings>
    <add name="SqLiteConnect" connectionString="Data Source=|DataDirectory|demoData.db;Version=3;Pooling=False;" providerName="System.Data.SQLite"/>
  </connectionStrings>

  <!-- Gearsの設定. debug=trueの場合ログ情報が出力できるので、本番環境ではfalseにすること -->
  <gears debug="true" defaultConnection="Master.ConnectionName" defaultNamespace="Master.DsNamespace" />
    
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
		  <controls>
		 	<add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
		  </controls>
		</pages>
	</system.web>

  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  
</configuration>
